.PokemonItem {
  list-style: none;
  background: rgb(121, 190, 199);
  border: 1px solid darkgray;
  padding: 10px;

  display: grid;
  grid-template-rows: 30px 30px 30px 30px 30px 120px;
  grid-gap: 10px;

  justify-items: center;

}

.PokemonItem h2 {
  margin: 0;
}

.PokemonItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.PokemonItem p {
  margin: 0;
  font-size: .9rem;
}

